mixin video(video)
    div
        a(href=`/videos/${video.id}`) Title: #{video.title}
        ul
            li description: #{video.description}
            li createdAt: #{video.createdAt}
            li view: #{video.meta.views}
            li star: #{video.meta.rating}/5
            li hashTags: #{video.hashTags}
        hr