mixin video(video)
    div
        h3 title: #{video.title}
        ul
            li author: #{video.author}
            li comments: #{video.comments}
            li createdAt: #{video.createdAt}
            li view: #{video.view}
            li start: #{video.star}/5