mixin video(video)
    div
        a(href=`/videos/${video.id}`) title: #{video.title}
        ul
            li author: #{video.author}
            li comments: #{video.comments}
            li createdAt: #{video.createdAt}
            li view: #{video.view}
            li star: #{video.star}/5