extends base


block nav
    a(href="/") Home

block header
    h1 #{video.title}

block content
    h4=video.description
    h4=video.hashTags
    small #{video.meta.views} #{video.meta.views === 1 ? "view" : "views"}
    br
    small #{video.createdAt}
    br
    small #{video.meta.rating}/5
    hr
    a(href=`${video.id}/edit`) Edit current video
    br
    a(href=`${video.id}/delete`) Delete current video